.menu-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    color: #91b3bc;
}

.menu-text:hover {
    color: #ffffff;
}

.menu-text-selected {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    color: #ffffff;
}

.menu-button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8rem;
    color: #ffffff;
    cursor: pointer;
}

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}

a:hover {
    color: #91b3bc;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    text-align: justify;
    color: #d7dade;
}

.experience {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.95rem;
    color: #d7dade;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.6rem;
    text-align: justify;
    color: #d7dade;
    background-color: #5b7d87;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.0rem;
    text-align: justify;
    color: #d7dade;
    background-color: #5b7d87;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    color: #d7dade;
}

h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.0rem;
    color: #d7dade;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    text-align: justify;
    color: #d7dade;
}
